<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <p><a href="/user/logout">Log Out</a></p>
    <div id="chat-log" cols="104" rows="20"
        style="display:flex; flex-direction:column; width:800px;
               overflow-y: scroll; height:400px; border:1px solid black;
               padding:30px;">
    </div><br><br>
    <input id="chat-message-input" type="text" size="100">
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    {{ user|json_script:'user'}}
    {{ messages|json_script:'messages' }}

    <script>
        let messageNumber = 50
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user = JSON.parse(document.getElementById('user').textContent);
        const messages = JSON.parse(JSON.parse(document.getElementById('messages').textContent));

        const renderMessage = (messageNumer, date, user, text_message) => {
            const tagToInsert = document.createElement('div')
            tagToInsert.id = `${messageNumber}`
            const completeMessage = `at ${date} <b>${user}</b> said: 
                                     <br> <b>${text_message}<b> <br><br>`
            tagToInsert.innerHTML = completeMessage
            document.querySelector('#chat-log').appendChild(tagToInsert);
            messageNumber -=1;
            return messageNumber
        }
        for (let message of messages) {
            messageNumber = renderMessage(
                messageNumber,
                message.fields.date,
                message.fields.user,
                message.fields.text_message)
        }
        const element = document.getElementById("chat-log");
        element.scrollTop = element.scrollHeight

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            messageNumber = renderMessage(messageNumber, data.date, data.user, data.message)
            if (messageNumber < 1) {
                const messageToDelete = document
                    .getElementById(`${51 + Number(messageNumber)}`);
                messageToDelete.parentNode.removeChild(messageToDelete);
            }
            const element = document.getElementById("chat-log");
            element.scrollTop = element.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user': user,
                'date': new Date()
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
